<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Issue</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/add_issue.css') }}">
</head>
<body>
    <div class="sidebar">
        <a href="/">Dashboard</a>
        <a href="/add_issue">Add Issue</a>
        <a href="/">Settings</a>
        <a href="/logout">Logout</a>
    </div>
    <h1>Add Issue</h1>
    <form action="/add_issue" method="post" >
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required><br>

        <label for="phone">Phone:</label>
        <input type="text" id="phone" name="phone" required><br>

        <label for="issue_description">Issue Description:</label>
        <input type="text" id="issue_description" name="issue_description" required><br>

        <label for="status">Status:</label>
        <select id="status" name="status" required>
            <option value="pending">Pending</option>
            <option value="resolved">Resolved</option>
            <option value="in_progress">In Progress</option>
        </select><br>

        <button type="submit">Add Issue</button>
    </form>
    
</body>
<script>

        
</script>
</html>
