<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/register.css') }}">
</head>
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600' rel='stylesheet' type='text/css'>
<link href="//netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css" rel="stylesheet">

<div class="testbox">
  <h1>Registration</h1>

  <form action="{{ url_for('register') }}" method="post">
      <hr>
    <div class="accounttype">
      <input type="radio" value="1" id="radioOne" name="role_id" checked/>
      <label for="radioOne" class="radio">User</label>
      <input type="radio" value="2" id="radioTwo" name="role_id" />
      <label for="radioTwo" class="radio">Supporter</label>
    </div>
  <hr>
  <label id="icon" for="email"><i class="icon-envelope "></i></label>
  <input type="email" name="email" id="email" placeholder="Email" required/>
  <label id="icon" for="username"><i class="icon-user"></i></label>
  <input type="text" name="username" id="username" placeholder="Username" required/>
  <label id="icon" for="password"><i class="icon-shield"></i></label>
  <input type="password" name="password" id="password" placeholder="Password" required/>
  
  <p>By clicking Register, you agree to our <a href="#">terms and conditions</a>.</p>
  <button type="submit" class="register">Register</button>

  <a class="login" href="{{ url_for('login') }}">Click here to login</a>
  </form>
</div>

</body>
</html>
