<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/user.css') }}">
</head>
<body>
    <div class="sidebar">
        <a href="/">Dashboard</a>
        <a href="/add_issue">Add Issue</a>
        <a href="/">Settings</a>
        <a href="/logout">Logout</a>
    </div>
    <div class="content">
        
    <div class="wrapper">
        <div class="header">
          <div class="title">
            Customer Issue Tracker
          </div>
      
          <div class="search_box">
            <input type="text" id="search_input" placeholder="Search by Issue Names">
          </div>
        </div>
      
        <div class="table_wrap">
          <div class="table_header">
            <ul> 
              <li>
                <div class="item">
                  <div class="name">
                    <span>NAME</span>
                  </div>
                  <div class="phone">
                    <span>PHONE</span>
                  </div>
                  <div class="issue">
                    <span>ISSUE</span>
                  </div>
                  <div class="username">
                    <span>Username</span>
                  </div>
                  <div class="status">
                    <span>STATUS</span>
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <div class="table_body">
            <ul>
                {% for issue in issues %}
                <li>
                    <div class="item">
                        <div class="name">
                            <span>{{ issue['name'] }}</span>
                        </div>
                        <div class="phone">
                            <span>{{ issue['phone'] }}</span>
                        </div>
                        <div class="issue">
                            <span>{{ issue['issue_description'] }}</span>
                        </div>
                        <div class="user">
                          <span class="{{ issue['user'].lower() }}">{{ issue['user'] }}</span>
                      </div>
                        <div class="status">
                            <span class="{{ issue['status'].lower() }}">{{ issue['status'] }}</span>
                        </div>
                        
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
          <div class="table_footer"></div>
        </div>
      
      </div>
      
</body>
<script>
    var search_input = document.querySelector("#search_input");

search_input.addEventListener("keyup", function(e){
  var span_items = document.querySelectorAll(".table_body ul li .item .name span");
  var search_item = e.target.value.toLowerCase();
 
 span_items.forEach(function(item){
   if(item.textContent.toLowerCase().indexOf(search_item) != -1){
      item.closest("li").style.display = "block"
   }
   else{
     item.closest("li").style.display = "none";
   }
 })
  
});

</script>
</html>
